[submodule "mcp_agent_mail"]
	path = mcp_agent_mail
	url = https://github.com/ChristofMilius/mcp-agent-mail.git
[submodule "mcp_agent_playwright"]
	path = mcp_agent_playwright
	url = git@github.com:ChristofMilius/mcp-agent-playwright.git
[submodule "mcp_agent_docparser"]
	path = mcp_agent_docparser
	url = git@github.com:ChristofMilius/mcp-agent-docparser.git
[submodule "mcp_agent_transcriber"]
	path = mcp_agent_transcriber
	url = git@github.com:ChristofMilius/mcp-agent-transcriber.git
[submodule "mcp_agent_openjev"]
	path = mcp_agent_openjev
	url = git@github.com:ChristofMilius/mcp-agent-openjev.git
